# Django #
*.log
*.pyc
*.exe
__pycache__
*.py[cod]
db.sqlite3
# Python
.venv/*
# VSCode #
.vscode/*

intermediate/migrations/*
!intermediate/migrations/__init__.py

blog/
bookstore/
yachts/migrations/*